@charset "UTF-8";

/* CSS Document */

body {
    font-family: 'Play', sans-serif;
    background: url("../images/bg.png") repeat;
}

.container{
    max-width: 900px;
}

.container.header{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 50px; 
    padding-top: 20px;
    font-size: 30px;
}

.header {
    background-color: #383838;
    min-height: 75px;
    /* border-bottom: 1px solid white; */
    color: white;
}

.mainContent {
    background-color: #1f1f1f;
    min-height: 200px;
    padding-top: 30px;
}

.wordArea{
    margin-top: 10px;
}

#letterPlaceholder{
    font-size: 30px;
    color: white;
    margin-left: 0px;/*Initial value for tweening*/
}

.container.wordTiles {
    background-color: #383838;
    padding-top: 30px;
    padding-bottom: 30px;
}

#health{
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

#playerHealth{
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-top: 10px;  
}

.tile{
    color: white;
    background-color: darkcyan;
    padding: 2px;
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
}

.tile.correct{
    background-color: green;
}

.tile.incorrect{
    background-color: red;
}

.tilesRowOne{
    padding-left: 40px;
}

.tilesRowTwo {
    margin-left: 50px;
    padding-left: 40px;
}

.tilesRowThree {
    margin-left: 150px;
    padding-left: 40px;
}

.tile p {
    margin: 0 auto;
    padding: 6px;
}

#messageContainer{
    color: white;
}


.messageTextContainer{
    background-color: black;
    opacity: 0;
    position: absolute;
     top: 0px; 
    left: 100px;
    width: 700px;
    height: 295px;
    border-radius: 20px;
}

#messageText{
    color: white;
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 340px;
    font-size: 60px;

}

#nextWordBT{
    opacity: 1;
    font-size: 20px;
}

#stageBackground{
    border-radius: 20px;
    max-width: 700px;

}

#enemy{
    width: 100px;
    position: absolute;
    top: 175px;
    left: 450px;
}

.container.footer{
    color: white;
    background-color: #383838;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    border-top: 1px solid white;
}


.card{
    border: none;
   
}

.card-header{
    background-color: #383838;
    color: white;
    border: none;
}

.card-header a{
    text-decoration: none;
}

.card-block{
    padding: 15px;
    background-color: lightslategray;
    color: white;
}

